.material-theme {
	--md-sys-color-primary-dark: #D0BCFF;
	--md-sys-color-on-primary-dark: #381E72;
	--md-sys-color-primary-container-dark: #4F378B;
	--md-sys-color-on-primary-container-dark: #EADDFF;
	--md-sys-color-secondary-dark: #CCC2DC;
	--md-sys-color-on-secondary-dark: #332D41;
	--md-sys-color-secondary-container-dark: #4A4458;
	--md-sys-color-on-secondary-container-dark: #E8DEF8;
	--md-sys-color-tertiary-dark: #EFB8C8;
	--md-sys-color-on-tertiary-dark: #492532;
	--md-sys-color-tertiary-container-dark: #633B48;
	--md-sys-color-on-tertiary-container-dark: #FFD8E4;
	--md-sys-color-error-dark: #F2B8B5;
	--md-sys-color-on-error-dark: #601410;
	--md-sys-color-error-container-dark: #8C1D18;
	--md-sys-color-on-error-container-dark: #F2B8B5;
	--md-sys-color-outline-dark: #938F99;
	--md-sys-color-background-dark: #1C1B1F;
	--md-sys-color-on-background-dark: #E6E1E5;
	--md-sys-color-surface-dark: #1C1B1F;
	--md-sys-color-on-surface-dark: #E6E1E5;
	--md-sys-color-surface-variant-dark: #49454F;
	--md-sys-color-on-surface-variant-dark: #CAC4D0;
	--md-sys-color-inverse-surface-dark: #E6E1E5;
	--md-sys-color-inverse-on-surface-dark: #313033;
}

.material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
}